# Local Terraform state
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# Ignore override files as they are usually only used for local changes
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# .terraform directory to store Terraform modules and plugins
.terraform/

# IDE and OS-specific files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
